<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css_base.css') }}">
    <script src="https://kit.fontawesome.com/56f2c79116.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    <div id="header">
        <nav>
            {% block nav %}
            <p>

            </p>
            {% endblock %}
            <p>
            <p class="head-right">{% if current_user.is_authenticated %}{{ session['fname'] }} |{% endif %} Simple Summer Reading</p>
            </p>

        </nav>
        <!-- Flash Message Display Code -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}"">
                     <button type=" button" class="close-button" aria-label="Close" onclick="this.parentElement.style.display='none';">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- -->

    </div>
    <div id="content">{% block content %}{% endblock %}</div>

    <!-- A little bit of breathing room… -->
    <div class="breathe">
        &nbsp;
    </div>
    <div id="footer" class="smaller">
        {% block footer %}
        Simple Summer Reading | An App by <a href="https://rezendes.info" target="_blank">Timothy Rezendes</a>
        {% endblock %}
    </div>
</body>

</html>