{% extends "base.html" %}

{% block content %}
<div class="w3-theme-d5 w3-content">
    <div class="grid-container two">
    {% for fill_list in fill_list_list %}
    {% if fill_list.exported == True %} 
        <div style="background: #D60270">
            <h1>{{ fill_list.display_name }}</h1>
            <p class="smaller">{{ fill_list.facility }}</p>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="grid-container four">
    {% for fill_list in fill_list_list %}
    {% if fill_list.exported == False %} 
        <div class="w3-theme-d3">
            <p>{{ fill_list.display_name }}</p>
            <p class="smaller">{{ fill_list.facility }}</p>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="centered">
        <form method="POST" name="Reset" action="/reset" target="_self">
            <input type="submit" value="Reset Dashboard" class="w3-btn w3-xxlarge w3-round-large w3-ripple custom-blue-button centered" />
            
        </form>
    </div>
</div>
{% endblock %}
