{% extends "base.html" %}

{% block content %}

<div class="w3-theme-d5 w3-content">
    <form name="DaySetting" method="POST">
        {{ form.hidden_tag() }}
        <div class="flex-container">
        {% for facility in facility_list %}
                {% set pullDefault = facility.pull_day %}
                {% set fillDefault = facility.fill_day %}
                {% set delDefault = facility.del_day %} 
            <div class="w3-theme-d3">
                <p class="centered">{{ facility.facility_name }}</p>
                <p>{{ form.settings[loop.index0] }}</p>
            </div>
        {% endfor %}
        </div>
        <div class="centered" style="margin: 20px auto">
            <button type="submit" value="Update Days of the Week" class="w3-btn w3-round w3-ripple custom-blue centered">Update Days of the Week</button>
        </div>
    </form>
</div>
<div class="w3-display-container" style="width: 100%;">
    <form method="POST" name="Rebuild" action="{{ url_for('dbRebuild') }}" target="_self" style="margin-left: 85%; margin-top: 10%;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" value="Rebuild Database" class="w3-btn w3-xxsmall w3-round w3-ripple w3-red centered smaller" style="margin: 10px"><i class="fa-solid fa-triangle-exclamation"></i> Rebuild Database <i class="fa-solid fa-triangle-exclamation"></i></button>
    </form>
</div>
{% endblock %}
